[submodule "vision_mamba"]
	path = vision_mamba
	url = https://github.com/doodleima/vision_mamba
[submodule "VMamba"]
	path = VMamba
	url = https://github.com/MzeroMiko/VMamba.git
[submodule "MambaVision"]
	path = MambaVision
	url = https://github.com/NVlabs/MambaVision.git
